{
    "all": true,
    "cache": false,
    "exclude": [
        "coverage",
        "**/editor.js",
        "**/gulpfile.js",
        "**/tasks.js",
        "**/test/**",
        "**/*_test.js"
    ],
    "extensions": [
        ".ts"
    ],
    "report-dir": "./coverage",
    "reporter": [
        "cobertura",
        "html",
        "text",
        "text-summary"
    ],
    "temp-directory": "./coverage/.nyc_output"
}